# PBA

## Various settings
private.properties

/TP1-Grupo13/build/*
/TP1-Grupo13/nbproject/*
/TP1-Grupo13/test/*
/TP2-Grupo13/build/*
/TP2-Grupo13/nbproject/*
/TP2-Grupo13/test/*
/PAV-TP1/nbproject/private/
/PAV-TP1/build/
/Ejercicio2Alumno/dist/
/Ejercicio2Alumno/build/*
/Ejercicio2Alumno/nbproject/private/
/Ejercicio2Alumno/test/*